{% extends 'base.html' %}

{% block content %}
<h1>Müllim: {{ teacher.name }}</h1>
<h3>Fənn {{teacher.subject}}</h3>
<p>Məlumat {{teacher.info}}</p>
<h2>Problemlər</h2>
<table>
    <thead>
        <tr>
            <th>Adı</th>
            <th>Haqqında</th>
            <th>Kateqoriya</th>
            <th>Həl olunub</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td><a href="{% url 'view_problem' problem.id %}">{{ problem.name }}</a></td>
            <td>{{ problem.measures_taken }}</td>
            <td>{{ problem.category.name }}</td>
            <td>{{ problem.solved|yesno:"Yes,No" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}